.product {
        margin-bottom: 20px;
    }

.delete-product {
    float: right;
    margin-top: 20px;
}

.card-footer {
        margin-bottom: 20px;
    }

.footer {
    background: #3A3331;
    border-top: 1px solid #EF6F2E;
}


html, body {
    height: 100%; /* Установка высоты всего документа и тела */
    margin: 0; /* Удаление отступов */

    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    color: #FFFFFF;
}

body {
    display: flex;
    flex-direction: column; /* Установка направления основной оси страницы на вертикальную */
}

.main {
    background:#FFFFFF;
    flex: 1; /* Элемент <main> займет все доступное пространство */
    display: flex;
    flex-direction: column;
    
}


.h1 { 
    font: inter;  
    font-weight: 500;
    font-size: 25px;
    line-height: 30.26px;
}
.card-header{
    font: inter;  
    font-weight: 500;
    font-size: 25px;
    line-height: 30.26px;
    color:rgba(37, 32, 29, 1);
    background-color: #FFFFFF;
    border:none;
}



.h2 {
    font-weight: 500;
    font-size: 40px;
}

.p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.main-content {
    background-color: #FFFFFF; /* Светлый фон для основного контента */
    padding: 20px;
    border:none;
    color: rgba(37, 32, 29, 1);
    font: inter;
}

.header, .footer {
    background-color: rgba(58, 51, 49, 1); /* Темный фон для заголовка и подвала */
    color: #FFFFFF;
}


.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
}

.input-field {
    width: 100%;
    background-color: rgba(233, 229, 226, 1);
    padding: 10px 15px 10px 15px;
    margin-bottom: 10px;
    border-radius: 8px;
    outline: none !important;
    
}

/*.input-field:hover {
    border: 2px solid #EF6F2E;
    outline: none !important;
    box-shadow: none !important;
}*/
/*
.input-field:focus {
    border: 2px solid #EF6F2E; /* Остаётся тем же 
    outline: none !important;
    box-shadow: none !important;
    appearance: none;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    -webkit-appearance: none;  Это свойство отменяет стандартные стили для WebKit браузеров 
    -moz-appearance: none; /* Это свойство отменяет стандартные стили для Mozilla браузеров 

}
*/
.btns-container {
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.submit-btn {
    background-color:rgba(58, 51, 49, 1);
    color:rgba(255, 255, 255, 1);
    font: inter;
    font-weight: 500;
    font-size: 18px;
    line-height: 21.78px;
    padding:15px, 274px, 15px, 274px;
    border: none;
    border-radius: 13px;
    cursor: pointer;
    text-decoration: none;
    gap: 10px;
    
    
}

.password-1{
    display: flex;
    justify-content: center;
    font: inter;
    text-decoration: none;
    color:rgba(11, 153, 255, 1);
    font-size: 18px;
    font-weight: normal;
    line-height: 21.78px;
}
.create-an-order{
    border: none;
    background-color:rgba(58, 51, 49, 1);
    font: inter;
    width: 339px;
    height: 52px;
    font-weight: 500;
    font-size: 18px;
    line-height: 21.78px;
    border-radius: 13px;
    color:rgba(255, 255, 255, 1);
}

.submit-btn:hover {
    background-color: #c65c24; /* Темнее при наведении */
    color: inherit;
}

.policy-text {
    color:rgba(255, 255, 255, 0.5); /* Полупрозрачный белый для текста политики */
    font-size: 14px;
}
.zvezda{
    color: rgba(239, 111, 46, 1);
    
}

