{% extends "base.html" %}
{% load static %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
    <link rel="stylesheet" href="{% static 'css/create_application.css' %}"/>
    <div class="row justify-content-center">
        <div class="col-md-8 p-5">
            <form method="post" action="{% url 'application:app_create' %}" enctype="multipart/form-data">
                <div class="card">
                    <div class="card-header">{{ title }}</div>
                    <div class="card-body">
                        {% load user_filters %}
                        {% if form.errors %}
                            {% for field in form %}
                                {% for error in field.errors %}
                                    <div class="alert alert-danger">
                                        {{ error|escape }}
                                    </div>
                                {% endfor %}
                            {% endfor %}
                            {% for error in form.non_field_errors %}
                                <div class="alert alert-danger">
                                    {{ error|escape }}
                                </div>
                            {% endfor %}
                        {% endif %}
                        {% csrf_token %}
                        {% for field in form %}
                            <div class="form-group row my-3">
                                <label for="{{ field.id_for_label }}">
                                    {{ field.label }}
                                    {% if field.field.required %}
                                        <span class="required text-danger">*</span>
                                    {% endif %}
                                </label>
                                {{ field|addclass:'form-control' }}
                                {% if field.help_text %}
                                    <small
                                            id="{{ field.id_for_label }}-help"
                                            class="form-text text-muted"
                                    >
                                        {{ field.help_text|safe }}
                                    </small>
                                {% endif %}
                            </div>
                        {% endfor %}
                        <div id="product-list">
                            <div class="product">
                                <h3>Товар 1</h3>
                                <img id="image-preview_1" src="" alt="" style="max-width: 30%; height: auto;  display: none;">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label for="product_1">Название товара:</label>
                                            <select name="product_1" id="product_1" class="form-control" required>
                                                <option value="">Выберите продукт</option>
                                                {% for product in products %}
                                                    <option value="{{ product.id }}"
                                                            data-price="{{ product.product.price }}"
                                                            data-image-url="{{ product.product.photo.url }}">{{ product }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label for="number_1">Количество</label>
                                            <input type="number" name="number_1" id="number_1" class="form-control"
                                                   required>
                                        </div>
                                        <label for="image_1">Образец продукта</label>
                                        <input type="file" name="image_1" id="image_1" class="form-control" accept=".jpg,.png" required>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer text-right">
                        <button type="submit" class="btn btn-primary add-product">Добавить товар</button>
                        <button type="submit" class="btn btn-success float-right">Сохранить</button>
                        <p>Предварительная цена: <span id="total-price">0 руб.</span></p>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}